email-template-with-velocity/src/main/app/email-template-without-velocity.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    
    <flow name="email-template-with-velocity-driver-Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/email/simple" doc:name="HTTP">
            <http:response-builder>
                <http:header headerName="Content-Type" value="text/html"/>
            </http:response-builder>
        </http:listener>
        <flow-ref name="email-template-with-template-Flow" doc:name="email-template-with-template-Flow"/>
    </flow>
    
    <flow name="email-template-with-template-Flow">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        
        <message-properties-transformer overwrite="true" scope="invocation" doc:name="Message Properties">
            <add-message-property key="original_payload" value="#[payload]"/>
            <add-message-property key="environment" value="${mule.env}"/>
            <add-message-property key="system_date" value="#[server.dateTime.format(&quot;MM-dd-yyyy:HH:mm:SS&quot;)]"/>
        </message-properties-transformer>
        
        <parse-template location="email-notification-template-plain.html" doc:name="Parse Template"/>
        
        <flow-ref name="send-email-Sub_Flow" doc:name="send-email-Sub_Flow"/>
        	
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
    <sub-flow name="send-email-Sub_Flow">
        <smtp:outbound-endpoint 
        	host="${email.notification.host}" 
        	port="${email.notification.port}" 
        	user="${email.notification.user}" 
        	password="${email.notification.password}" 
        	connector-ref="Gmail" 
        	to="#[flowVars.original_payload.emailTo]" 
        	from="#[flowVars.original_payload.emailFrom]" 
        	subject="#[flowVars.original_payload.subject]" 
        	replyTo="#[flowVars.original_payload.replyTo]" 
        	responseTimeout="10000" 
        	doc:name="SMTP"/>
    </sub-flow>
</mule>
