advanced-topics/src/main/app/audit-veeva-to-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <db:oracle-config name="Oracle_Configuration" host="10.204.13.119" port="1771" instance="voltdmd" user="VOLT_STG" password="volt!#129stga" doc:name="Oracle Configuration"/>
    <db:template-query name="Template_Query_Audit" doc:name="Template Query">
        <db:parameterized-query><![CDATA[INSERT INTO VEEVA_AUDIT_S (
user_name, 
full_name, 
timestamp, 
version, 
action, 
item, 
field_name, 
old_value, 
new_value, 
job_instance_id, 
workflow_name, 
task_name, 
view_license, 
row_created_date_time
)VALUES(
:user_name,
:full_name,
to_timestamp_tz(:time_string, 'MM-DD-YYYY HH:MI PM TZD TZR'),
:version,
:action,
:item,
:field_name,
:old_value,
:new_value,
:job_instance_id,
:workflow_name,
:task_name,
:view_license,
sysdate
)]]></db:parameterized-query>
    </db:template-query>
    <flow name="poll-data-from-file-TestFlow">
        <file:inbound-endpoint path="test/input3" moveToPattern="#[message.inboundProperties.orignalFileName].processed" moveToDirectory="test/temp" responseTimeout="10000" doc:name="File Input3"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <component class="com.amgen.pes.util.RemoveBom" doc:name="Remove BOM"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="a295c334-23d3-415c-a74d-29ef7ae4fc6d">
            <dw:input-payload mimeType="application/csv">
                <dw:reader-property name="separator" value="\t"/>
            </dw:input-payload>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	user_name: payload01."user_name",
	full_name: payload01."full_name",
	time_string: payload01."time_stamp" ++ " US/Pacific",
	version: payload01."Version",
	action: payload01."Action",
	item: payload01."Item",
	field_name: payload01."field_name",
	old_value: payload01."old_value",
	new_value: payload01."new_value",
	job_instance_id: payload01."Job_Instance_Id",
	workflow_name: payload01."Workflow_Name",
	task_name: payload01."Task_Name",
	signature_meaning: payload01."Signature_Meaning",
	view_license: payload01."View_License"
})]]></dw:set-payload>
        </dw:transform-message>
        <flow-ref name="audit-log-insert-loop-Flow" doc:name="audit-log-insert-loop-Flow"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>

    <flow name="audit-log-insert-loop-Flow">
        <foreach doc:name="For Each">
            <flow-ref name="audit-log-insert-to-oracle-db-Flow" doc:name="audit-log-insert-to-oracle-db-Flow"/>
        </foreach>
    </flow>
    <flow name="audit-log-insert-to-oracle-db-Flow" processingStrategy="synchronous">
        <db:insert config-ref="Oracle_Configuration" doc:name="Database">
            <db:template-query-ref name="Template_Query_Audit"/>
            <db:in-param name="user_name" value="#[payload.user_name]"/>
            <db:in-param name="full_name" value="#[payload.full_name]"/>
            <db:in-param name="time_string" value="#[payload.time_string]"/>
            <db:in-param name="version" value="#[payload.version]"/>
            <db:in-param name="action" value="#[payload.action]"/>
            <db:in-param name="item" value="#[payload.item]"/>
            <db:in-param name="field_name" value="#[payload.item]"/>
            <db:in-param name="old_value" value="#[payload.old_value]"/>
            <db:in-param name="new_value" value="#[payload.new_value]"/>
            <db:in-param name="job_instance_id" value="#[payload.job_instance_id]"/>
            <db:in-param name="workflow_name" value="#[payload.workflow_name]"/>
            <db:in-param name="task_name" value="#[payload.ask_name]"/>
            <db:in-param name="view_license" value="#[payload.view_license]"/>
        </db:insert>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="#[exception.message]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
</mule>
