advanced-topics/src/main/app/compare_dates_dw.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="compare_dates_dwFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/dates-dw/compare" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	interest_date: normalizeDate(payload."Registration Date") 
			when compareDates(payload."Registration Date", payload."Start Date")
			otherwise normalizeDate(payload."Start Date")
} ++ 
{
	(good_date : normalizeDate(payload."Start Date")) when normalizeDate(payload."Registration Date") < normalizeDate(payload."Start Date")
			
}]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="format_dates-Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/format/dates" doc:name="HTTP"/>
        <set-payload value="#[(new org.mule.el.datetime.DateTime('1970-01-31','yyyy-MM-dd')).format('yyyy-MM-dd')]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
