advanced-topics/src/main/app/dw_functions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="dw_functionsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/dw/func/filter" doc:name="HTTP"/>
        <set-variable variableName="counter" value="#[1]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	pg : payload.pg splitBy "|" filter ($ != "N/A")
	
}]]></dw:set-payload>
            <dw:set-variable variableName="s3_key"><![CDATA[%dw 1.0
%output application/java
---
'${s3.vendor.landing}' ++ '/' ++ now as :string {format:"yyyy-MM-dd"} ++ '/' ++ flowVars.counter ++ '.csv' ]]></dw:set-variable>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
    </flow>
    <flow name="dw_functionsFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/dw/func/array" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%function splitDate (data) (data splitBy "-")[0..-2] reduce ($$ ++ '-' ++ $)
%var aPeriod = ("P" ++ 1 ++ "D")
%function getTerminationDate(aDate) (aDate as :date {format: "yyyy-MM-dd-hh:mm"} - aPeriod) as :string {format: "yyyy-MM-dd"}
---
{
	date: getTerminationDate (payload.pg)
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
