advanced-topics/src/main/app/env_variables.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="env_variablesFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/env" doc:name="HTTP"/>
        <set-session-variable variableName="load_indicator" value="#['${edw.initial.load}' == 'false']" doc:name="Session Variable"/>
        <logger message="#[('${edw.initial.load}' == 'false')]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
