advanced-topics/src/main/app/env_variables.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="env_variablesFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/env" doc:name="HTTP"/>
        <set-session-variable variableName="load_indicator" value="#['${edw.initial.load}' == 'false']" doc:name="Session Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.name]]></dw:set-payload>
        </dw:transform-message>
        <choice doc:name="Choice">
            <when expression="#[payload == '${user.first.name}' + ' ' + '${user.last.name}']">
                <logger message="#['OK']" level="INFO" doc:name="Passed"/>
            </when>
            <otherwise>
                <logger message="#['NOK']" level="INFO" doc:name="Not Passed"/>
            </otherwise>
        </choice>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	initial_load: p('edw.initial.load')
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[('${edw.initial.load}' == 'false')]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
