advanced-topics/src/main/app/global_functions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="global_functionsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/global-function" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((record) -> {
	staff_id: record."Buyer Reference",
	Contract_End_Date: normalizeDate(record."End Date") as :date,
	end_date: normalizeDate2(record."End Date") as :date,
	Last_Day_of_Work: normalizeDate2(record."End Date"),
	termination_reason: getReasonId2(record."Closed Reason"),
	absValue: abs(3, 9)
})]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="Test-Reason" value="#[getReasonId2('First - Second')]" doc:name="Variable"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>





</mule>
