advanced-topics/src/main/app/json_to_java.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="json_to_javaFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advance/json2java" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="4e8b3e6f-bd6e-4cd0-8805-fe9ad91c2697">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%function getReasonId(reason) trim ( reason splitBy "-" )[1]

---
payload map ((payload01) -> {
	staff_id: payload01."Buyer Reference",
	Contract_End_Date: normalizeDate(payload01."End Date") as :date,
	Last_Day_of_Work: normalizeDate(payload01."End Date") as :date,
	termination_reason: getReasonId2(payload01."Closed Reason")
})]]></dw:set-payload>
        </dw:transform-message>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
