advanced-topics/src/main/app/parse-template.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="parse-templateFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/parse" doc:name="HTTP"/>
        <set-variable variableName="staff_id" value="#['123456789']" doc:name="Variable"/>
        <set-session-variable variableName="session_id" value="#['session_1234']" doc:name="Session Variable"/>
        <parse-template location="invalidStaffIdMailbody.html" doc:name="Parse Template"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
