advanced-topics/src/main/app/poll_with_quartz.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd">
    <quartz:connector name="Quartz" validateConnections="true" doc:name="Quartz"/>
    <flow name="poll_with_quartzFlow1">
    <quartz:inbound-endpoint jobName="FG-WD-Integration" 
    	cronExpression="0 0 8-18/2 ? * 1-5 *" 
    	repeatInterval="0" 
    	responseTimeout="10000" 
    	connector-ref="Quartz" 
    	doc:name="Quartz">
	        <quartz:event-generator-job>
	          <quartz:payload>foo</quartz:payload>
	        </quartz:event-generator-job>
    </quartz:inbound-endpoint>
        <logger message="#['Test Quartz: ' + server.dateTime.format('yyyy-MM-dd HH:mm:ss:SSS')]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
