advanced-topics/src/main/app/use_groovy2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="use_groovy2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/udp/logic" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="original_fg_payload" value="#[payload]" doc:name="Variable"/>
        <foreach doc:name="For Each">
            <expression-component doc:name="Copy_of_Expression"><![CDATA[if (flowVars.original_fg_payload[flowVars.counter-1]['Transaction Type'] == 'UPD' && flowVars.original_fg_payload[flowVars.counter-1]['Closed Reason'] == 'Failure to Start') {
	flowVars.original_fg_payload[flowVars.counter-1]['Transaction Type'] = 'TER'
}]]></expression-component>
        </foreach>
        <choice doc:name="Choice">
            <when expression="#[payload.'terminatin_reason' == 'Failure to Start' &amp;&amp; (payload.'today_date' &lt;= payload.'worker_state_date')]">
                <logger level="INFO" doc:name="Logger UPD_FTS"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger NON_FTS"/>
            </otherwise>
        </choice>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
