advanced-topics/src/main/app/xpath2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="xpath_with_merge-Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/xpaht3/2" doc:name="HTTP"/>
        <set-variable variableName="item_list" value="#[new java.util.ArrayList()]" doc:name="Variable"/>
<!--         
        <expression-transformer expression="#[xpath3('//*:LOT_NUMBER', payload, 'NODESET')]" doc:name="Expression"/>
 -->        
        <foreach collection="#[xpath3('//*:LOT_NUMBER', payload, 'NODESET')]" doc:name="For Each">
            <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
            <expression-transformer expression="#[flowVars.item_list.add(xpath3('//*:LOT_NUMBER',payload, 'STRING'))]" doc:name="Expression"/>
        </foreach>
         
        <logger level="INFO" doc:name="Logger" message="#[flowVars.item_list]"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
flowVars.item_list joinBy ","]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="xpath3_dom_Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/xpaht3/3" doc:name="Copy_of_HTTP"/>
        <expression-transformer expression="#[xpath3('//*:LOT_NUMBER', payload, 'NODESET')]" doc:name="Get NodeList"/>
    </flow>
    
    <flow name="xpath2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/xpath32" doc:name="HTTP"/>
        <expression-transformer expression="#[xpath3('//*:Applicant_ID')]" doc:name="Expression"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
