advanced-topics/src/main/app/filters/expression-filter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="expression-filterFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/advanced/filters" doc:name="HTTP"/>
        <flow-ref name="expression-filter-message-Flow" doc:name="expression-filter-message-Flow"/>
        <logger message="#['Main flow to the end']" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="expression-filter-expression-Flow">
        <set-session-variable variableName="master_state" value="#[message.inboundProperties.'http.query.params'.state]" doc:name="Session Variable"/>
        <expression-filter expression="#[sessionVars.master_state == true]" doc:name="Expression"/>
        <logger message="#['OK, Pass']" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="expression-filter-message-Flow">
        <set-session-variable variableName="master_state" value="#[message.inboundProperties.'http.query.params'.state]" doc:name="Session Variable"/>
        <message-filter doc:name="Message">
            <expression-filter expression="#[sessionVars.master_state == true]"/>
        </message-filter>
        <logger message="#['OK, Pass']" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
