mongodb_poc/target/classes/update_documents_with_function.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="update_documents_with_function_Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/update/documents/function" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
        <set-payload value="#[[&quot;details&quot; : [[ &quot;model&quot; : &quot;Marathon BBB&quot;], [&quot;manufacturer&quot; : &quot;GGL A101 Company&quot; ]]]]" doc:name="Set Payload"/>
        <set-variable variableName="queryRef" value="#[[&quot;item&quot;: &quot;BBB101&quot;]]" doc:name="Variable"/>
        <mongo:update-documents-by-function config-ref="Mongo_DB" collection="inventory"  query-ref="#[flowVars.queryRef]" doc:name="Mongo DB" function="$set"/>
<!-- 
        <json:object-to-json-transformer doc:name="Object to JSON"/>
 -->
        
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[message.payloadAs(java.lang.String)]"/>
        <exception-strategy ref="MongoDB-Exception-Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
